﻿<style>
	.debtor-data
	{
		width: 800px;
		margin:0 auto;
	}
	.debtor-data td
	{
		vertical-align:top;
	}
	.debtor-data td.splitter
	{
		height:12px;
	}
	.debtor-data td[colspan="5"] input
	,.debtor-data td[colspan="5"] textarea
	{
		width: 100%;
	}
	.debtor-data td.title
	{
		text-align: right;
	}
	.debtor-data td.head
	{
		text-align:left;
		font-weight:bold;
	}
</style>
<table border="0" class="debtor-data">
	<tbody>
		<tr><td class="splitter"></td></tr>
		<tr>
			<td class="head">Должник:</td>
			<td colspan="5">
				<textarea id='name_org' name="debtor_name_org"></textarea>
			</td>
		</tr>
		<tr>
			<td class="title">ИНН:</td><td><input id='inn' name="debtor_inn"></td>
			<td class="title">ОГРН:</td><td><input id='ogrn' name="debtor_ogrn"></td>
		</tr>
		<tr>
			<td class="title">Регион:</td><td><input id='rregion' name="debtor_rregion"></td>
			<td class="title">Город:</td><td><input id='rcity' name="debtor_rcity"></td>
			<td class="title">Индекс:</td><td><input id='rindex' name="debtor_rindex"></td>
		</tr>
		<tr><td class="title">Адрес:</td><td colspan="5"><input id='raddress' name="debtor_raddress"></td></tr>

		<tr><td class="splitter"></td></tr>
		<tr><td colspan="2" class="head">Арбитражный управляющий</td></tr>
		<tr>
			<td class="title">Фамилия:</td><td><input id='surname' name="debtor_surname"></td>
			<td class="title">Имя:</td><td><input id='name' name="debtor_name"></td>
			<td class="title">Отчество:</td><td><input id='patronymic' name="debtor_patronymic"></td>
		</tr>
		<tr>
			<td><!--Регион--></td><td><!--<input id='city' name="city">--></td>
			<td class="title">Город:</td><td><input id='city' name="debtor_city"></td>
			<td class="title">Индекс:</td><td><input id='index' name="debtor_index"></td>
		</tr>
		<tr><td class="title">Адрес:</td><td colspan="5"><input id='address' name="debtor_address"></td></tr>

		<tr><td class="splitter"></td></tr>
		<tr>
			<td class="head" colspan="3">Определение о введении процедуры от</td>
			<td><input type="text" id='date' name="debtor_date"></td>
			<td class="title">Дело №</td><td><input id='number' name="debtor_number"></td>
		</tr>
		<tr><td class="title">Cуд:</td><td colspan="5"><input id='court_ruling' name="debtor_court_ruling"></td></tr>
	</tbody>
</table>