body {
	font-family: Arial, Helvetica, sans-serif;
}

table {
	font-size: 1em;
}
.special{
	color: black;
	font-family: "Calibri";
	line-height: 1.2em;
	font-size: 1.2em;
	font-style: italic;
	text-align: left;
}

.common{
	color: black;
	font-family: "Arial";
	line-height: 1.2em;
	font-size: 1em;
	}

.headline{
	color: black;
	font-family: "Georgia";
	line-height: 1.2em;
	font-size: 1.5em;
	margin-bottom:20px;
}

input{
	width: 170px;
}
select{
 	width: 280px;
 	right: auto;
 	cursor: none;
}
.no-close .ui-dialog-titlebar-close {
		display: none;
}
div#dialog_window_applicant input{
	width: 700px;
}
button{
    color: #000000;
    background: #efefef	;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 3px;
    border: 1px solid #666;
    height: 27px;
    cursor: pointer;
}
label{
	cursor: pointer;
}
td#more_information div.ck-editor{
	width: 730px;
}
input[type="submit"]
{
    color: #000000;
    background: #efefef	;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 3px;
    border: 1px solid #666;
    height: 27px;
    width: 85px;
    cursor: pointer;

}
.list{
	width: 20px,
	height: 30px;
	background-color: #efefef;
}
.first{
	text-align: right;
}
tbody#add tr:hover{
	background-color: #efefef;
}
tbody.a#add tr{
	color: #002584;
}

input{
    border: 1px solid #ccc;
}

input:focus{
	border: 1px solid #37c;
}